.layout {
  display: grid;
  gap: 18px;
}

.form {
  display: grid;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  gap: 10px;
  align-items: center;
}

@media (max-width: 980px) {
  .form {
    grid-template-columns: 1fr;
  }
}
